  </div>
  <!-- dashboard stuff -->
  <!-- <script src="/js/template.js"></script> -->
  <!-- <script src="/js/dashboard.js"></script> -->

  <!-- blocks stuff -->
  <!-- <script src="/js/blocks.js"></script> -->
</body>
</html>