  </div>
  <!-- dashboard stuff -->
  <!-- <script src="/js/template.js"></script> -->
  <!-- <script src="/js/dashboard.js"></script> -->

  <!-- blocks stuff -->
  <!-- <script src="/js/blocks.js"></script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71796222-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-71796222-4');
  </script>
</body>
</html>