<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WeyPool : WeyCoin mining pool for GPU and cloud miners</title>

  <link rel="stylesheet" href="/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/iconfonts/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/stylesheets/c3.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/codepen-embed-theme-code-highlight.css">
  <link rel="shortcut icon" href="/images/favicon.png" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/vendor.bundle.base.js"></script>
  <script src="/js/moment.js"></script>
  <!-- <script src="/js/vendor.bundle.addons.js"></script> -->
  <script src="/js/d3.js" charset="utf-8"></script>
  <script src="/js/c3.js"></script>

  <script src="/js/template.js"></script>  
  <script src="/js/wae.js"></script>
</head>
<body>

<div class="container-scroller">

  <% include nav.ejs %>