<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
  <div class="container d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top">
      <a class="navbar-brand brand-logo" href="index.html"><img src="/images/logo-inverse.svg" alt="logo"></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/images/logo-mini.svg" alt="logo"></a>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center">
      <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </div>
  <div class="nav-bottom">
    <div class="container">
      <ul class="nav page-navigation">
        <li class="nav-item pool-nav">
          <a href="/" class="nav-link"><i class="link-icon mdi mdi-television"></i><span class="menu-title">POOL</span></a>
        </li>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link"><i class="link-icon mdi mdi-apple-safari"></i><span class="menu-title">DASHBOARD</span></a>
        </li>
        <li class="nav-item">
          <a href="/blocks" class="nav-link"><i class="link-icon mdi mdi-apple-safari"></i><span class="menu-title">BLOCKS</span></a>
        </li>
        <li class="nav-item">
          <a href="/payments" class="nav-link"><i class="link-icon mdi mdi-apple-safari"></i><span class="menu-title">PAYMENTS</span></a>
        </li>
        <li class="nav-item">
          <a href="/getting-started" class="nav-link"><i class="link-icon mdi mdi-apple-safari"></i><span class="menu-title">DA WAE</span></a>
        </li>
        <li class="nav-item">
          <a href="/faq" class="nav-link"><i class="link-icon mdi mdi-apple-safari"></i><span class="menu-title">FAQ</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>