<% include ../partials/header.ejs %>

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">

        <!-- SET WORKER ADDRESS -->
        <div class="col-lg-12 grid-margin stretch-card set-worker">
          <div class="card">
            <div class="card-body">
              <div class="input-group">
                <input class="form-control worker-address" placeholder="Enter your WAE wallet address to track your stats" type="text">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary track-worker">
                    <i class="fa fa-plus"></i> Track Address
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END SET WORKER ADDRESS -->

        <!-- TOP STATS -->
        <div class="col-12 grid-margin">
          <div class="card card-statistics">
            <div class="row">
              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body"  style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-thermometer-half text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">My Hashrate</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 miner-my-hashrate">0</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-share text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Pending Shares</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 miner-pending-shares">0 S</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-clock text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Last Payment</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 miner-last-payment"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-dolly-flatbed text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Total Earning</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 miner-total-earning"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- END TOP STARTS -->

        <!-- WORKERS TABLE -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Workers</h4>

              <div class="table-responsive">
                <table class="table .table-striped miner-worker-table">
                  <thead>
                    <tr>
                      <th>Worker</th>
                      <th>Hashrate</th>
                      <th>Shares</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!-- END WORKERS TABLE -->

        <!-- PAYMNETS TABLE -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Payments</h4>

              <div class="table-responsive">
                <table class="table .table-striped payments-history-table">
                  <thead>
                    <tr>
                      <th>Processed</th>
                      <th>Transaction Hash</th>
                      <th>Amount Paid</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!-- END PAYMNETS TABLE -->

      </div>
    </div>

    <% include ../partials/iner_footer.ejs %>
  </div>
</div>

<script src="/js/dashboard.js"></script>
<% include ../partials/footer.ejs %>