<% include ../partials/header.ejs %>

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">

      <div class="row">
        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-server fa-4x img-lg rounded-circle mb-2"></i>
              <h4>Stable Backend</h4>
              <p class="mt-4 card-text">
                The pool website server is independent of the back-end DB server and mining server. You can continue mining even when the website is downs for DoS attacks or any possible problems.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-question fa-4x img-lg rounded-circle mb-2"></i>
              <h4>Support</h4>
              <p class="mt-4 card-text">
                We provide a special support for diggers. If you have any questions, just join our <a href="https://discord.gg/HEWhsUQ" target="_blank">Discord Server</a>.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-code-branch fa-4x img-lg rounded-circle mb-2"></i>
              <h4>Wide-range Hashrate</h4>
              <p class="mt-4 card-text">
                Our pool has several ports, which have a range of starting difficulty, so you can quickly adjust the difficulty by choosing an appropriate port.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- HASHRATE CHART -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Getting Started</h4>
              <p class="card-description">
                Baisc get started guide on how to setup your miner
                <hr>
              </p>
              
              <p>
                Login using your wallet address as username. An optional workername can be appended to your address separated by a dot character. Leave the password blank.
              </p>

              <p>
                Example: WALLET_ADDRESS.WORKER_NAME
              </p>
            </div>
          </div>
        </div>
        <!-- END HASHRATE CHART -->

      </div>

      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Windows</h4>
              <p class="card-description">
                
              </p>
              <hr>
              
              <h6>Nvidia GPU Mining</h6>
              <ul class="ins-list">
                <li>The following step requires the 7zip archiver which can be downloaded from <a href="http://www.7-zip.org/download.html" target="_blank">here</a></li>
                <li>Download ccminer from <a href="https://github.com/tpruvot/ccminer/releases" target="_blank">here</a>. Make sure to select the correct version for your hardware and Operating System (32-Bit or 64-Bit) - when in doubt choose 32-Bit</li>
                <li>Extract the archive and open <code>ccminer.conf</code> in a text-editor of your choice</li>
                <li>Replace the contents of the file with: <br>
                  <pre style="padding: 0px; margin: 17px 0px -19px 0px;">
<code class="javascript">{
  "quiet" : false,
  "debug" : false,
  "protocol" : false,
  "cpu-priority" : 2,
  "algo" : "lyra2v2",
  "url" : "stratum+tcp://dig.weypool.com:9310",
  "user" : "YOUR_WALLET_ADDRESS",
  "pass" : "x"
}
</code>
                  </pre>
                </li>
                <li>Replace <code>YOUR_WALLET_ADDRESS</code> with your WAE wallet address.</li>
                <li>If you are mining on multiple machines/rigs, you can append an identifier of your choice to your wallet address separated by a dot to make it easier to distinguish between your rigs when evaluating your results. 
                <br>
                Example: <code>WALLET_ADDRESS.OPTIONAL_WORKER_NAME</code></li>
                <li>Save the file</li>
                <li>Start <code>ccminer.exe</code> or <code>ccminer-x64.exe</code></li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Linux</h4>
              <p class="card-description">
                
              </p>
              <hr>
              
              <h6>Nvidia GPU Mining</h6>
              <ul class="ins-list">
                <li>To mine Weycoin on Linux using a Nvidia GPU you first need to install <a href="https://developer.nvidia.com/cuda-downloads" target="_blank">Nvidia Cuda</a></li>
                <li>Run <code>nvidia-smi</code> in the terminal to confirm Cuda installation</li>
                <li>Download ccminer's source code from <a href="https://github.com/tpruvot/ccminer/releases" target="_blank">here</a></li>
                <li>Extract the archive and follow instructions <a href="https://github.com/tpruvot/ccminer/blob/linux/INSTALL" target="_blank">here</a> to build miner</li>
                <li>Open <code>ccminer.conf</code> in a text-editor of your choice</li>
                <li>Replace the contents of the file with: <br>
                  <pre style="padding: 0px; margin: 17px 0px -19px 0px;">
<code class="javascript">{
  "quiet" : false,
  "debug" : false,
  "protocol" : false,
  "cpu-priority" : 2,
  "algo" : "lyra2v2",
  "url" : "stratum+tcp://dig.weypool.com:9310",
  "user" : "YOUR_WALLET_ADDRESS",
  "pass" : "x"
}
</code>
                  </pre>
                </li>
                <li>Replace <code>YOUR_WALLET_ADDRESS</code> with your WAE wallet address.</li>
                <li>If you are mining on multiple machines/rigs, you can append an identifier of your choice to your wallet address separated by a dot to make it easier to distinguish between your rigs when evaluating your results. 
                <br>
                Example: <code>WALLET_ADDRESS.OPTIONAL_WORKER_NAME</code></li>
                <li>Save the file</li>
                <li>Run <code>./ccminer</code></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/iner_footer.ejs %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>
<script src="/js/highlight.pack.js"></script>
<% include ../partials/footer.ejs %>