<% include ../partials/header.ejs %>

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">

      <!-- TOP INFO -->
      <div class="row">
        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-server fa-4x img-lg rounded-circle mb-2 color-light-pink"></i>
              <h4>Stable Backend</h4>
              <p class="mt-4 card-text">
                The pool website server is independent of the back-end DB server and mining server. You can continue mining even when the website is downs for DoS attacks or any possible problems.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-question fa-4x img-lg rounded-circle mb-2 color-light-pink"></i>
              <h4>Support</h4>
              <p class="mt-4 card-text">
                We provide a special support for miners. If you have any questions, just join our <a href="https://discord.gg/HEWhsUQ" target="_blank">Discord Server</a>.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-code-branch fa-4x img-lg rounded-circle mb-2 color-light-pink"></i>
              <h4>Wide-range Hashrate</h4>
              <p class="mt-4 card-text">
                Our pool has several ports, which have a range of starting difficulty, so you can quickly adjust the difficulty by choosing an appropriate port.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- TOP INFO -->

      <!-- QUICK CONFIGURATION -->
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Quick Configuration Reference</h4>
              <hr>

              <div class="row">
                <div class="col-lg-6 col-sm-12" style="margin-top: 10px;">
                  <h6>Stratum Servers</h6>
                  <table class="table table-bordered stratum-hosts">
                    <thead>
                      <tr>
                        <th>Host</th>
                        <th>Region</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>stratum-us.weypool.com</td>
                        <td>New York, United States</td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-lg-6 col-sm-12" style="margin-top: 10px;">
                  <h6>Stratum Ports</h6>
                  <table class="table table-bordered stratum-hosts">
                    <thead>
                      <tr>
                        <th>Port</th>
                        <th>Hashrate</th>
                        <th>Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>9301</td>
                        <td>100kH/s -- 20MH/s</td>
                        <td>CPU and mid-range GPU miners</td>
                      </tr>
                      <tr>
                        <td>9310</td>
                        <td>35MH/s -- ∞</td>
                        <td>high-end GPU miners</td>
                      </tr>
                      <tr>
                        <td>9320</td>
                        <td>500MH/s -- ∞</td>
                        <td>cloud miners</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <br>
              <br>

              <h6>Additional Information</h6>
              <ul>
                <li>
                  Login using your wallet address as username. An optional worker name can be appended to your address separated by a dot character. Leave the password blank.
                  <br>
                  Example: <code>WALLET_ADDRESS.WORKER_NAME</code>
                </li>
                <li>
                  You can use one worker name for all your miners. However, we recommend to connect every miner to a separate worker for easier monitoring.
                </li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
      <!-- END QUICK CONFIGURATION -->

      <!-- GETTING STARTED -->
      <!-- END GETTING STARTED -->

    </div>

    <% include ../partials/iner_footer.ejs %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>
<script src="/js/highlight.pack.js"></script>
<% include ../partials/footer.ejs %>