<% include ../partials/header.ejs %>

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">

        <!-- TOP STATS -->
        <div class="col-12 grid-margin">
          <div class="card card-statistics">
            <div class="row">
              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body"  style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-users text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Miners</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 diggers"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-wrench text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Difficulty</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 difficulty"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-thermometer-half text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Our Hashrate</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 our-hashrate"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-thermometer-full text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">The Queens Hashrate</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 queens-hashrate"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

        <div class="col-12 grid-margin">
          <div class="card card-statistics">
            <div class="row">
              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-laptop text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Algorithm</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 pool-algorithm"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-money-bill text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Payment</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 pool-payment"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-exchange-alt text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Fee</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 pool-fee"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="card-body" style="padding: 19px 25px;">
                  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <i class="fa fa-minus-square  text-primary mr-0 mr-sm-4 icon-lg"></i>
                    <div class="wrapper text-center text-sm-left">
                      <p class="card-text mb-0">Minimum Payout</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0 pool-minimun-payout"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END TOP STATS -->

        <!-- HASHRATE CHART -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Recent Hash Rate</h4>
              <div id="c3-recent-hash-rate"></div>
            </div>
          </div>
        </div>
        <!-- END HASHRATE CHART -->

        <!-- TOP MINERS -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Top Miners</h4>
              <p class="card-description">
                Based on the last 24 hours
              </p>
              
              <div class="table-responsive">
                <table class="table .table-striped top-diggers-table stratum-hosts">
                  <thead>
                    <tr>
                      <th>Miner</th>
                      <th>Hashrate</th>
                      <th>Shares</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- END TOP MINERS -->

      </div>
    </div>

    <% include ../partials/iner_footer.ejs %>
  </div>
</div>

<!-- <script src="/js/c3.js"></script> -->
<script src="/js/pool.js"></script>
<% include ../partials/footer.ejs %>